.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 1rem;
	box-sizing: border-box;

	display: flex;
	align-items: center;
	justify-content: space-between;

	> h1 {
		font-size: var(--font-heading-xxlarge);
	}
}

.user {
	display: flex;
}
