.comment-card {
	&.-root {
		border-bottom: 2px solid var(--color-border);
		border-left: none;
		padding: var(--spacing-8) var(--spacing-8);
	}

	&.-reply {
		margin-top: var(--spacing-7);
		padding: var(--spacing-8);
		border: 1px solid var(--color-border);
		border-radius: var(--radius-medium);
	}

	> .header {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-4);
		justify-content: space-between;
	}

	> .header > .details {
		display: flex;
		justify-content: space-between;
		gap: var(--spacing-3);
		align-items: baseline;
	}

	> .header > .details > .user > .username {
		color: var(--color-text);
		font-weight: 600;
		font-size: var(--font-body);
		line-height: 1.4;
		display: flex;

		&:hover {
			text-decoration: underline;
			cursor: pointer;
			color: var(--color-link);
		}
	}

	> .header > .details > .user > .publishdate {
		color: var(--color-text-subtle);
		font-size: var(--font-body);
		font-weight: 400;
		line-height: 1.4;
	}

	> .header > .details > .user > .edited {
		color: var(--color-text-subtle);
		margin-left: var(--spacing-3);
		font-size: var(--font-heading-xxsmall);
	}

	> .header > .details > .more {
		margin-left: var(--spacing-6);
		color: var(--color-text);
		font-weight: 400;
		width: 24px;
		height: 24px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: var(--radius-large);

		&:hover {
			cursor: pointer;
			background-color: var(--color-background-neutral-hover);
		}
	}

	> .header > .tags {
		display: flex;
		gap: var(--spacing-4);
	}

	> .header > .tags > .tag {
		display: flex;
		align-items: center;
		background-color: var(--color-background-neutral);
		color: var(--color-text-subtle);
		font-size: var(--font-body-small);
		line-height: 1.4;
		padding: var(--spacing-2) var(--spacing-4);
		text-align: center;
		border-radius: var(--radius-medium);
	}

	> .header > .tags > .mod {
		background-color: var(--color-background-info);
		color: var(--black);
	}

	> .header > .tags > .admin {
		background-color: var(--color-background-danger);
		color: var(--black);
	}

	> .content {
		margin-top: var(--spacing-4);
	}

	> .content > .body {
		color: var(--color-text);
		line-height: 1.4;
		overflow-x: auto;
		white-space: pre-wrap;
		word-wrap: break-word;
		word-break: break-all;
		font-family: inherit;
		font-size: var(--font-body);
	}

	> .footer {
		margin-top: var(--spacing-6);
		display: flex;
		justify-content: space-between;
		font-size: var(--font-body);
	}

	> .footer > .actions {
		display: flex;
		gap: var(--spacing-3);
		justify-content: center;
		align-items: center;
	}

	> .footer > .actions > .action {
		background-color: var(--color-background-neutral-dim);
		color: var(--color-text-subtle);
		padding: var(--spacing-3) var(--spacing-4);
		border-radius: var(--radius-medium);

		&:hover {
			cursor: pointer;
			background-color: var(--color-background-neutral-hover);
		}
	}

	> .footer > .voting {
		display: flex;
		align-items: center;
		gap: var(--spacing-3);
		color: var(--color-text-subtle);
	}

	> .footer > .voting > .vote {
		background-color: var(--color-background-neutral-dim);
		color: var(--color-text-subtle);
		padding: var(--spacing-3) var(--spacing-4);
		border-radius: var(--radius-medium);
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
