.comment-card {
	display: flex;

	> .threadline {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: var(--size-xxlarge);
		flex-shrink: 0;
	}

	> .threadline > .line {
		width: var(--size-xsmall);
		flex: 1;
		background-color: var(--color-border);
		min-height: var(--size-large);
	}

	> .comment {
		flex: 1;
		padding-left: var(--spacing-2);
		background-color: var(--color-background);

		&.-root {
			border: 1px solid var(--color-border);
			border-radius: var(--radius-small);
			margin-bottom: var(--spacing-4);
		}
	}

	> .comment > .header {
		display: flex;
		align-items: center;
		gap: var(--spacing-4);
		padding: var(--spacing-3) var(--spacing-4);
	}

	> .comment > .header > .avatar {
		width: clamp(16px, 10vw, 32px);
		aspect-ratio: 1 / 1;
		background-color: var(--color-text-darker);
		border-radius: var(--radius-full);
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: var(--font-body-small);
	}

	> .comment > .header > .userinfo > .username {
		font-size: var(--font-heading-xsmall);
		font-weight: bold;
		color: var(--color-text);
	}

	> .comment > .header > .userinfo > .publish {
		display: flex;
		gap: var(--spacing-3);
	}

	> .comment > .header > .userinfo > .publish > .timestamp {
		font-size: var(--font-body-small);
		color: var(--color-text-lighter);
	}

	> .comment > .header > .userinfo > .publish > .edited {
		font-size: var(--font-body-small);
		color: var(--color-text-lighter);
	}

	> .comment > .body {
		padding: 0 var(--spacing-4);
		margin: var(--spacing-1) 0;
		color: var(--color-text);
		border-top: none;
		line-height: 1.3;
		overflow-x: auto;
		white-space: pre-wrap;
		word-wrap: break-word;
		font-family: inherit;
	}

	> .comment > .actions {
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: var(--spacing-3);
		padding: var(--spacing-3) var(--spacing-4);
		border-top: none;
		color: var(--color-text-darker);
		font-size: var(--font-heading-xsmall);
	}

	> .comment > .actions > .post {
		display: flex;
		gap: var(--spacing-4);
	}
}
