.comment-editor {
	border-radius: var(--radius-large);
	border: 1px solid var(--color-border);
	background-color: var(--color-card-title-background);

	> .textarea {
		background-color: var(--color-background);
		border-radius: var(--radius-large);
		width: 100%;
		padding: var(--spacing-4);
		color: var(--color-text-subtle);
		word-break: break-all;
		min-height: 120px;

		&:focus {
			outline: 1px solid var(--color-border-focused);
		}
	}

	> .footer {
		display: flex;
		justify-content: space-between;
		padding: var(--spacing-4);
		background-color: var(--color-card-title-background);
		border-radius: var(--radius-large);
	}

	> .footer > .options {
		display: flex;
		align-items: center;
		gap: var(--spacing-5);
	}

	> .footer > .options > .option {
		display: flex;
		align-items: center;
	}

	> .error {
		color: var(--color-text-danger-lighter);
		margin-top: var(--spacing-4);
		margin-left: var(--spacing-4);
		font-size: var(--font-body);
	}
}
