.comment-editor {
	border-radius: var(--radius-small);
	border: 1px solid var(--color-border);
	margin-bottom: var(--spacing-5);

	> .text {
		padding: var(--spacing-5);
		width: 100%;
		color: var(--color-text);
		overflow-wrap: break-word;
		resize: none;
		border-bottom: 1px solid var(--color-border);
		background-color: var(--color-background-darker);
		min-height: 120px;

		&:focus {
			outline: 2px solid var(--color-border-focused);
			outline-offset: -1px;
		}
	}

	> .footer {
		padding: var(--spacing-4);
		background-color: var(--color-background-lighter);
		color: var(--color-text-darker);
		font-weight: bold;
		font-size: var(--font-body);
		display: flex;
		justify-content: space-between;
	}

	> .footer > .options {
		display: flex;
		gap: var(--spacing-5);
	}

	> .footer > .options > .option {
		display: flex;
		align-items: center;
	}

	> .error {
		background-color: var(--color-background-danger);
		color: var(--color-text-danger);
		padding: var(--spacing-2) var(--spacing-4);
		font-size: var(--font-body);
		border-bottom: 1px solid var(--color-border);
	}
}
