:root {
	/* ======================================== */
	/*       Primitive tokens: raw values       */
	/* ======================================== */

	/* Colours */
	--color-blue-700: #3b82f6;
	--color-blue-800: #3377e8;
	--color-red-700: #ef4444;

	--color-neutral-100: #f3f3f3;

	/* Spacing */
	--spacing-1: 1px;
	--spacing-2: 2px;
	--spacing-3: 4px;
	--spacing-4: 8px;
	--spacing-5: 12x;
	--spacing-6: 16px;
	--spacing-7: 20px;
	--spacing-8: 24px;
	--spacing-9: 32px;
	--spacing-10: 48px;
	--spacing-11: 64px;
	--spacing-12: 80px;

	/* Sizing */
	--size-xxsmall: 1px;
	--size-xsmall: 2px;
	--size-small: 4px;
	--size-medium: 6px;
	--size-large: 8px;
	--size-xlarge: 12px;
	--size-xxlarge: 16px;
	--size-full: 9999px;

	/* Typography */
	--font-sans: "Inter", system-ui, sans-serif;

	/* Elevation */
	--shadow-1: rgba(0, 0, 0, 0.16) 0 1px 4px;

	/* ============================================= */
	/*       Semantic tokens: contextual usage       */
	/* ============================================= */
	--color-text: var();
	--color-text-subltle: var();
	--color-text-subtlest: var();
	--color-text-primary: var();
	--color-text-primary-bolder: var();
	--color-text-success: var();
	--color-text-success-bolder: var();
	--color-text-information: var();
	--color-text-information-bolder: var();
	--color-text-warning: var();
	--color-text-warning-bolder: var();
	--color-text-danger: var();
	--color-text-danger-bolder: var();
	--color-text-disabled: var();

	--color-link: var();
	--color-link-pressed: var();
	--color-link-visited: var();
	--color-link-visited-pressed: var();

	--color-icon: var();
	--color-icon-primary: var();
	--color-icon-disabled: var();
	--color-icon-danger: var();

	--color-border: var();
	--color-border-disabled: var();
	--color-border-focused: var();
	--color-border-input: var();
	--color-border-danger: var();

	--color-background: var(--color-neutral-100);
	--color-background-primary: var(--color-blue-700);
	--color-background-primary-hover: var(--color-blue-800);
	--color-background-primary-pressed: var();
	--color-background-secondary: var();
	--color-background-secondary-hover: var();
	--color-background-secondary-pressed: var();
	--color-background-success: var();
	--color-background-success-hover: var();
	--color-background-success-pressed: var();
	--color-background-information: var();
	--color-background-information-hover: var();
	--color-background-information-pressed: var();
	--color-background-warning: var();
	--color-background-warning-hover: var();
	--color-background-warning-pressed: var();
	--color-background-danger: var(--color-border-danger);
	--color-background-danger-hover: var();
	--color-background-danger-pressed: var();
	--color-background-input: var();
	--color-background-input-hover: var();
	--color-background-outline: var();
	--color-background-outline-hover: var();
	--color-background-ghost: var();
	--color-background-ghost-hover: var();

	--font-body-large: var();
	--font-body: var();
	--font-body-small: var();
	--font-heading-xxlarge: var();
	--font-heading-xlarge: var();
	--font-heading-large: var();
	--font-heading-medium: var();
	--font-heading-small: var();
	--font-heading-xsmall: var();
	--font-heading-xxsmall: var();
	--font-family-heading: var();
	--font-family-body: var();

	--border-width: var(--size-xxsmall);
	--border-width-selected: var(--size-xsmall);
	--border-width-focused: var(--size-xsmall);

	--radius-xsmall: var(--size-xsmall);
	--radius-small: var(--size-small);
	--radius-medium: var(--size-medium);
	--radius-large: var(--size-large);
	--radius-xlarge: var(--size-xlarge);
	--radius-xxlarge: var(--size-xxlarge);
	--radius-full: var(--size-full);

	--shadow: var(--shadow-1);

	--opacity-disabled: var();
	--opacity-loading: var();
}

body {
	font-family: var(--font-sans), sans-serif;
	background-color: var(--color-background);
	color: var(--color-text);
	line-height: 1.5;
}
