:root {
	/* ======================================== */
	/*       Primitive tokens: raw values       */
	/* ======================================== */

	/* Colours */
	--white: #ffffff;
	--black: #000000;

	--neutral-0: #ececef;
	--neutral-50: #fafafa;
	--neutral-100: #f2f2f2;
	--neutral-200: #e6e6e8;
	--neutral-300: #aeacac;
	--neutral-400: #797a7e;
	--neutral-500: #3d3d3d;
	--neutral-600: #2c2c2c;
	--neutral-700: #222222;
	--neutral-800: #1e1e1e;
	--neutral-900: #191919;
	--neutral-950: #000000;

	--brand-500: #7261fd;
	--brand-900: #262334;

	--green-500: #2ef0cd;
	--green-900: #19221f;

	--red-500: #e5645e;
	--red-400: #d14842;
	--red-900: #332524;

	--blue-500: #3a89ff;
	--blue-900: #1b2232;

	--yellow-500: #f3af4c;
	--yellow-900: #332c22;

	/* Spacing */
	--spacing-1: 0.0625em;
	--spacing-2: 0.125em;
	--spacing-3: 0.25em;
	--spacing-4: 0.5em;
	--spacing-5: 0.75em;
	--spacing-6: 1em;
	--spacing-7: 1.25em;
	--spacing-8: 1.5em;
	--spacing-9: 2em;
	--spacing-10: 3em;
	--spacing-11: 4em;
	--spacing-12: 5em;

	/* Sizing */
	--size-xxsmall: 1px;
	--size-xsmall: 2px;
	--size-small: 4px;
	--size-medium: 6px;
	--size-large: 8px;
	--size-xlarge: 12px;
	--size-xxlarge: 16px;
	--size-full: 9999px;

	/* Typography */
	--font-sans: Courier New, Courier, monospace;
	--font-size-xxxlarge: 2rem;
	--font-size-xxlarge: 1.75rem;
	--font-size-xlarge: 1.5rem;
	--font-size-large: 1.25rem;
	--font-size-medium: 1rem;
	--font-size-small: 0.875rem;
	--font-size-xsmall: 0.75rem;
	--font-size-xxsmall: 0.5rem;
	--font-size-xxxsmall: 0.25rem;

	/* Elevation */
	--shadow-1: rgba(0, 0, 0, 0.16) 0 1px 4px;

	/* ============================================= */
	/*       Semantic tokens: contextual usage       */
	/* ============================================= */
	--font-body-large: var(--font-size-medium);
	--font-body: var(--font-size-small);
	--font-body-small: var(--font-size-xsmall);
	--font-heading-xxlarge: var(--font-size-xxxlarge);
	--font-heading-xlarge: var(--font-size-xxlarge);
	--font-heading-large: var(--font-size-xlarge);
	--font-heading-medium: var(--font-size-large);
	--font-heading-small: var(--font-size-medium);
	--font-heading-xsmall: var(--font-size-small);
	--font-heading-xxsmall: var(--font-size-xsmall);
	--font-family-heading: var();
	--font-family-body: var();

	--border-width: var(--size-xxsmall);
	--border-width-selected: var(--size-xsmall);
	--border-width-focused: var(--size-xsmall);

	--radius-xsmall: var(--size-xsmall);
	--radius-small: var(--size-small);
	--radius-medium: var(--size-medium);
	--radius-large: var(--size-large);
	--radius-xlarge: var(--size-xlarge);
	--radius-xxlarge: var(--size-xxlarge);
	--radius-full: var(--size-full);

	--shadow: var(--shadow-1);
}

[data-theme="light"] {
	--color-text: var(--neutral-900);
	--color-text-subtle: var(--neutral-500);
	--color-text-subtler: var(--neutral-300);
	--color-text-darkest: var(--neutral-950);
	--color-text-primary: var(--white);
	--color-text-primary-light: var(--brand-500);
	--color-text-danger: var(--color-text-darkest);
	--color-text-danger-lighter: var(--red-500);
	--color-text-success: var(--color-text-darkest);
	--color-text-success-lighter: var(--green-500);
	--color-text-info: var(--color-text-darkest);
	--color-text-info-lighter: var(--blue-500);
	--color-text-warning: var(--color-text-darkest);
	--color-text-warning-lighter: var(--yellow-500);

	--color-background-primary: var(--brand-500);
	--color-background-primary-dim: var(--brand-900);
	--color-background-primary-hover: ;
	--color-background-primary-pressed: ;
	--color-background-danger: var(--red-400);
	--color-background-danger-dim: var(--red-900);
	--color-background-danger-hover: ;
	--color-background-danger-pressed: ;
	--color-background-neutral: var(--neutral-500);
	--color-background-neutral-dim: var(--neutral-100);
	--color-background-neutral-hover: var(--neutral-200);
	--color-background-neutral-pressed: ;
	--color-background-success: var(--green-500);
	--color-background-success-dim: var(--green-900);
	--color-background-success-hover: ;
	--color-background-success-pressed: ;
	--color-background-info: var(--blue-500);
	--color-background-info-dim: var(--blue-900);
	--color-background-info-hover: ;
	--color-background-info-pressed: ;
	--color-background-warning: var(--yellow-500);
	--color-background-warning-dim: var(--yellow-900);
	--color-background-warning-hover: ;
	--color-background-warning-pressed: ;
	--color-background-input: ;
	--color-background-input-hover: ;
	--color-background-outline: ;
	--color-background-outline-hover: ;
	--color-background-ghost: ;
	--color-background-ghost-hover: ;

	--color-border: var(--neutral-200);
	--color-border-primary: var(--brand-500);
	--color-border-danger: var(--red-400);
	--color-border-neutral: var(--neutral-500);
	--color-border-success: var(--green-500);
	--color-border-info: var(--blue-500);
	--color-border-warning: var(--yellow-500);
	--color-border-focused: var(--neutral-300);
	--color-border-input: ;

	--color-link: var(--blue-500);
	--color-link-pressed: ;
	--color-link-visited: ;
	--color-link-visited-pressed: ;

	--color-background: var(--white);
	--color-background-card: var(--neutral-50);
	--color-card-border: var(--neutral-200);
	--color-card-title-background: var(--neutral-100);
}

[data-theme="dark"] {
	--color-text: var(--neutral-0);
	--color-text-subtle: var(--neutral-300);
	--color-text-subtler: var(--neutral-400);
	--color-text-darkest: var(--neutral-950);
	--color-text-primary: var(--color-text);
	--color-text-primary-light: var(--brand-500);
	--color-text-danger: var(--color-text-darkest);
	--color-text-danger-lighter: var(--red-500);
	--color-text-success: var(--color-text-darkest);
	--color-text-success-lighter: var(--green-500);
	--color-text-info: var(--color-text-darkest);
	--color-text-info-lighter: var(--blue-500);
	--color-text-warning: var(--color-text-darkest);
	--color-text-warning-lighter: var(--yellow-500);

	--color-background-primary: var(--brand-500);
	--color-background-primary-dim: var(--brand-900);
	--color-background-primary-hover: ;
	--color-background-primary-pressed: ;
	--color-background-danger: var(--red-400);
	--color-background-danger-dim: var(--red-900);
	--color-background-danger-hover: ;
	--color-background-danger-pressed: ;
	--color-background-neutral: var(--neutral-500);
	--color-background-neutral-dim: var(--neutral-700);
	--color-background-neutral-hover: var(--neutral-600);
	--color-background-neutral-pressed: ;
	--color-background-success: var(--green-500);
	--color-background-success-dim: var(--green-900);
	--color-background-success-hover: ;
	--color-background-success-pressed: ;
	--color-background-info: var(--blue-500);
	--color-background-info-dim: var(--blue-900);
	--color-background-info-hover: ;
	--color-background-info-pressed: ;
	--color-background-warning: var(--yellow-500);
	--color-background-warning-dim: var(--yellow-900);
	--color-background-warning-hover: ;
	--color-background-warning-pressed: ;
	--color-background-input: ;
	--color-background-input-hover: ;
	--color-background-outline: ;
	--color-background-outline-hover: ;
	--color-background-ghost: ;
	--color-background-ghost-hover: ;

	--color-border: var(--neutral-600);
	--color-border-primary: var(--brand-500);
	--color-border-danger: var(--red-400);
	--color-border-neutral: var(--neutral-500);
	--color-border-success: var(--green-500);
	--color-border-info: var(--blue-500);
	--color-border-warning: var(--yellow-500);
	--color-border-focused: var(--neutral-300);
	--color-border-input: ;

	--color-link: var(--blue-500);
	--color-link-pressed: ;
	--color-link-visited: ;
	--color-link-visited-pressed: ;

	--color-background: var(--neutral-900);
	--color-background-card: var(--neutral-800);
	--color-card-border: var(--neutral-600);
	--color-card-title-background: var(--neutral-700);
}

body {
	font-family:
		"Figtree Variable", Inter, apple-system, BlinkMacSystemFont, Roboto,
		Helvetica, Arial, sans-serif;
	background-color: var(--color-background);

	color: var(--color-text);
	line-height: 1.5;
}
