.posts-list {
	background: var(--color-background-card);
	border-radius: var(--radius-large) var(--radius-large);
}

.pagination {
	display: flex;
	align-items: center;
	justify-content: end;
	margin-top: var(--spacing-6);
	gap: var(--spacing-4);
	font-size: var(--font-body);
	color: var(--color-text-subtle);
}

.create-post {
	margin-bottom: var(--spacing-6);
}
