.post-view {
	background: var(--color-background-card);
	margin-top: var(--spacing-9);
	border-radius: var(--radius-large) var(--radius-large);

	> .breadcrumbs {
		border-bottom: 1px solid var(--color-border);
		padding: var(--spacing-4) var(--spacing-6);
		color: var(--color-text-subtle);
	}

	> .post {
		padding: var(--spacing-6);
		border-bottom: 1px solid var(--color-border);
	}

	> .post > .title {
		font-size: var(--font-heading-xxlarge);
		font-weight: 600;
		letter-spacing: -0.5px;
		line-height: var(--font-size-xxxlarge);
	}

	> .post > .details {
		color: var(--color-text-subtle);
		font-size: var(--font-body);
	}

	> .post > .content {
		margin: var(--spacing-8) 0;
		font-weight: 400;
		line-height: 21px;
	}
}
